<div id=section3>
<div id="container1">
<div id="cont">
<table>
  <tr>
    <td>
  <p id="title"> Faites de votre cabinet une nouvelle</p>
  <p id="prg1"> Faites de votre cabinet une nouvelle source de revenu</p>
</td>
<td >
  <div id="td_btn">
  <button id="btn_ajout"class="btn btn-outline-success my-2 my-sm-0" type="submit"><p id="pbtn"> AJOUTER MON CABINET </button>
  </div>
  </td> 
  </tr>
  </table>
</div>
</div>
<div id="container2">
  <div id="footer_table">
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col"><img src="../../assets/icon_footer1.svg"></th>
            <th scope="col">NAVIGATION</th>
            <th scope="col">ABOUT US</th>
            <th scope="col">SUPPORT</th>
            <th scope="col">SUBSCRIBE TO OUR NEWSLETTER</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Lorem ipsum dolor sit amet<br> consectetur adipiscing elit aliquam<br> eget nullam pellentesque aliquam<br> curabitur cociis.</th>
            <td>
              <p>About us</p>
              <p>News</p>
              <p>Support</p>
              <p>Products</p>
            </td>
            <td><p>Who we are</p>
            <p>Our team</p>
            
            <p>Careers</p>
            <p>Investors</p>
            </td>
            <td>
              <p>Doumentation</p>
<p>Community</p>
<p>Get in Touch</p>
<p>Investors</p>
<p>Community</p>

            </td>
          <td> 
            <p> Receive our latest news and 
promotions in your inbox!</p>
<p>Your Email</p>


</td>
        </tbody>
      </table>
    
      </div>
     
</div>

<div id="container3">
  
  </div>


</div>

