
<div id="section1">
   
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
         <img id="cocabinet_icone"src="../../assets/cocabinet_icone.svg"><p id="cocabinet">CoCabinet</p>
         <p id="trouv">Trouver un Cabinet</p>
         <p id="apropos">A propos</p>
         <p id="contact">Contact</p>
         <p id="connexion">Connexion</p>
    
          <button id="btn_inscription"class="btn btn-outline-success my-2 my-sm-0" type="submit"><p id="pbtn">Inscription</p></button>
        </form>
      </nav>
      <div id="bloc1">
      <p id="title1">Faites de votre cabinet une nouvelle <br>source de revenu</p>
      <p id="pr1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur est <br> ac nisi sodales, sit amet lacinia metus blandit. Lorem ipsum dolor sit amet.</p>
      <button id="btn_ajout"class="btn btn-outline-success my-2 my-sm-0" type="submit"><p id="pbtn"> AJOUTER MON CABINET </button>
    </div>
    <div id="cards">
    <div class="card-group">
        <div class="card">
          <img src="../../assets/group1.svg" class="card-img-top" alt="...">
          <div class="card-body">
              <img id="img_num"src="../../assets/num1.svg" >
<div id="pcard">Gérez les demandes</div>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/group2.svg" class="card-img-top" alt="...">
          <div class="card-body">
              <img id="img_num"src="../../assets/num2.svg" >
              <div id="pcard">Définissez vos disponibilités</div>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/group3.svg" class="card-img-top" alt="...">
          <div class="card-body">
              <img id="img_num" src="../../assets/num3.svg" >
              <div id="pcard">Ajoutez votre cabinet</div>
 
          </div>
        </div>
      </div>
</div>
</div>
<div id="section2">
  <div id="title2">
  <img id="icon_sect2"src="../../assets/Logo.svg">
 <p id="pr_sect2">Un plus grand choix de cabinets en 2019</p>
</div>
<table >
  <tr>
    <td id="img_cab">
    <img  src="../../assets/cabinet1.svg"></td>
    <td id="img_cab"><img src="../../assets/cabinet2.svg"></td> 
    <td id="img_cab"> <img src="../../assets/cabinet3.svg"></td> 
    <td id="img_cab"><img src="../../assets/cabinet4.svg"></td> 
</tr>
</table>

<div id="container-table">
    <table id="table_ellipse">
    <tr>
        <td >
         
        <img  id="title_ellipse" src="../../assets/Ellipse.svg">.
      <p id="title_ellipse"> Deffinissez vos prix</p>
      <p id="content_ellipse">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna. </p>
     
    </td>
   
      <td>
      
          <img  id="title_ellipse" src="../../assets/Ellipse.svg">.
        <p id="title_ellipse">Deffinissez vos prix</p>
        <p id="content_ellipse">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna. </p>
    
     </td>
    
        <td>
        
            <img  id="title_ellipse" src="../../assets/Ellipse.svg">.
          <p id="title_ellipse" >Paiement garantie</p>
          <p id="content_ellipse">Lorem ipsum dolor sit amet, consectetur<br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna. </p>
      
        </td>

    </tr>
</table>
</div>
<div id="container_aide">
    <div id="title2">
        <img id="icon_aide"src="../../assets/white_Logo.svg">
      <h2>Aide et F.A.Q</h2>
      </div>
    <div class="container">
        <div class="row">

            <div class="col-4" style="width: 380px;height: 100px;">
                <div class="card h-100">
                    <div class="card-block">
                     
                        <img id="smile"src="../../assets/insert_emoticon.svg" class="card-img" alt="...">
                        <h5 id="title_smile" >Lorem Ipsum Dolor</h5>
                        <p id="content_smile" >Curabitur aliquam eget nullam</p>
             
                    </div>
                </div>
            </div>
         
            <div class="col-4" style="width: 380px;height: 100px;">
                <div class="card h-100">
                    <div class="card-block">
                     
                        <img id="smile"src="../../assets/location_city.svg" class="card-img" alt="...">
                        <h5 id="title_smile" >Cras Interdum Velit
                          </h5>
                         <p id="content_smile" >   Mauris consequat hendrerit ex</p>
             
                    </div>
                </div>
            </div>
            <div class="col-4" style="width: 380px;height: 100px;">
                <div class="card h-100">
                  <div id="cont_card">
                      <img id="smile"src="../../assets/whatshot.svg" class="card-img" alt="...">
                    <div class="card-block">
                     
                      
                        <h5 id="title_smile" >Lorem Ipsum Dolor</h5>
                        <p id="content_smile" >Curabitur aliquam eget nullam</p>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div id="row2"class="row">

              <div class="col-4" style="width: 380px;height: 100px;">
                  <div class="card h-100">
                      <div class="card-block">
                       
                          <img id="smile"src="../../assets/insert_emoticon.svg" class="card-img" alt="...">
                          <h5 id="title_smile" >Vulputate Justo </h5>
                          <p id="content_smile" >Aenean tempus laoreet lorem</p>
               
                      </div>
                  </div>
              </div>
           
              <div class="col-4" style="width: 380px;height: 100px;">
                  <div class="card h-100">
                      <div class="card-block">
                       
                          <img id="smile"src="../../assets/location_city.svg" class="card-img" alt="...">
                          <h5 id="title_smile" >Cras Interdum Velit
                           </h5>
                          <p id="content_smile" >   Mauris consequat hendrerit ex</p>
               
                      </div>
                  </div>
              </div>
              <div class="col-4" style="width:380px;height: 100px;">
                  <div class="card h-100">
                      <div class="card-block">
                       
                          <img id="smile"src="../../assets/whatshot.svg" class="card-img" alt="...">
                          <h5 id="title_smile" >Vulputate Justo </h5>
                          <p id="content_smile" >Aenean tempus laoreet lorem</p>
               
                      </div>
                  </div>
              </div>
            </div>
    </div>
    <div id="container_logement">
    <div id="title3">
        <img id="icon_sect2"src="../../assets/Logo.svg">
       <p id="pr_sect2">Un plus grand choix de cabinets en 2019</p>

      </div>
<div id="container_cocabinet" >

    <div class="container-fluid">
    
        <div class="row">
          <div class="col-sm-4" ><img id="img_log" src="../../assets/Group 27.svg"><p id="logemententiers">LOGEMENTS ENTIERS</p></div>
          <div class="col-sm-4" ><img  id="img_log"src="../../assets/Group 27.svg"> <p id="logementcocabinet">LOGEMENTS COCABINET</p> </div>
          <div class="col-sm-4" ><img id="img_log"  src="../../assets/Group 27.svg"> <p id="logementplus"> LOGEMENTS  PLUS</p></div>
        </div>
      </div>



</div>

 

    </div>



  



</div>
</div>
